#simple
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 480px;
}
#simple table {
    width: 100%;
	text-align: left;
}

td
{
	padding: 8px 15px;
	color: #000;
	text-align: left;
}
